// Designer to Developer translations
// Light => 300
// Book => 400
// Medium => 500
// Bold => 700
// Black => 800

// Light | 300
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-light-webfont.eot");
  src: url("../fonts/texta-light-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-light-webfont.woff") format("woff"),
  url("../fonts/texta-light-webfont.ttf") format("truetype"), url("../fonts/texta-light-webfont.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: normal;
}

// Light | italic
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-lightitalic-webfont.eot");
  src: url("../fonts/texta-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-lightitalic-webfont.woff") format("woff"),
  url("../fonts/texta-lightitalic-webfont.ttf") format("truetype"), url("../fonts/texta-lightitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: italic;
}

// Book | 400
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-book-webfont.eot");
  src: url("../fonts/texta-book-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-book-webfont.woff") format("woff"),
  url("../fonts/texta-book-webfont.ttf") format("truetype"), url("../fonts/texta-book-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

// Book | italic
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-bookitalic-webfont.eot");
  src: url("../fonts/texta-bookitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-bookitalic-webfont.woff") format("woff"),
  url("../fonts/texta-bookitalic-webfont.ttf") format("truetype"), url("../fonts/texta-bookitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: italic;
}

// Medium | 500
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-medium-webfont.eot");
  src: url("../fonts/texta-medium-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-medium-webfont.woff") format("woff"),
  url("../fonts/texta-medium-webfont.ttf") format("truetype"), url("../fonts/texta-medium-webfont.svg#open_sansregular") format("svg");
  font-weight: 500;
  font-style: normal;
}

// Medium | italic
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-mediumitalic-webfont.eot");
  src: url("../fonts/texta-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-mediumitalic-webfont.woff") format("woff"),
  url("../fonts/texta-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/texta-mediumitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 500;
  font-style: italic;
}

// Bold | 700
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-bold-webfont.eot");
  src: url("../fonts/texta-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-bold-webfont.woff") format("woff"),
  url("../fonts/texta-bold-webfont.ttf") format("truetype"), url("../fonts/texta-bold-webfont.svg#open_sansregular") format("svg");
  font-weight: 700;
  font-style: normal;
}

// Bold | Italic
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-bolditalic-webfont.eot");
  src: url("../fonts/texta-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-bolditalic-webfont.woff") format("woff"),
  url("../fonts/texta-bolditalic-webfont.ttf") format("truetype"), url("../fonts/texta-bolditalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 700;
  font-style: italic;
}

// Black | 800
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-black-webfont.eot");
  src: url("../fonts/texta-black-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-black-webfont.woff") format("woff"),
  url("../fonts/texta-black-webfont.ttf") format("truetype"), url("../fonts/texta-black-webfont.svg#open_sansregular") format("svg");
  font-weight: 800;
  font-style: normal;
}

// Black | Italic
@font-face {
  font-family: 'Texta';
  src: url("../fonts/texta-blackitalic-webfont.eot");
  src: url("../fonts/texta-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/texta-blackitalic-webfont.woff") format("woff"),
  url("../fonts/texta-blackitalic-webfont.ttf") format("truetype"), url("../fonts/texta-blackitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 800;
  font-style: italic;
}


//colors needed for these variables
// Theme colors
$c-theme-blue: #14558f;
$c-theme-green: #43956f;
$c-theme-gray: #535353;
$c-theme-yellow: #f6c51b;

//other global colors
$c-red: #cd0d0d;
$c-white: white;
$c-black: #141414;
$c-gray-f2f2f2: #f2f2f2;
$c-gray-dcdcdc: #dcdcdc;
$c-gray-a6a6a6: #a6a6a6;
$c-gray-707070: #707070;
$c-gray-757575: #757575;

// 18F compliance we can't use variables with the color in the name
$c-theme-primary: $c-theme-blue !default; 
$c-theme-secondary: $c-theme-green !default;
$c-theme-tertiary: $c-theme-yellow !default;
$c-theme-quaternary: $c-theme-gray !default;

$c-font-base: $c-theme-gray;
$c-font-dark: $c-black;
$c-font-medium: $c-gray-707070;

$c-font-heading: $c-black;
$c-font-inverse: $c-white;
$c-font-link: $c-theme-blue;
$c-font-error: $c-red;

$c-bg-comp-title: $c-theme-gray;
$c-bg-subtle: $c-gray-f2f2f2;
$c-bg-section: $c-gray-f2f2f2;

$c-bd-divider: $c-gray-dcdcdc;
$c-bd-divider-dark: $c-theme-gray;
$c-bd-error: $c-red;
$c-bd-input: $c-gray-dcdcdc;
$c-bd-input-dark: $c-gray-757575;

//homepage title heading change to h1
.ma__comp-heading {

  &:not(&--sidebar) {
    @include ma-comp-heading;
  }

  &--sidebar,
  .sidebar & {
    @include ma-sidebar-heading;

    &:after {
      display: none;
    }
  }

  &--centered:not(&--sidebar) {
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .sidebar--colored & {
    @include ma-heading-colored($direction: left);
    border-bottom: none;

    &:after {
      display: block;
    }
  }
}

//links on the homepage using callout links
.ma__callout-link {
  border: 3px solid;
  display: inline-flex;
    align-items: stretch;

  // .pre-content > &,
  // .post-content > &,
  // .main-content--full .page-content > & {
  //   @include ma-container();
  //   display: block;
  //   width: 100%;
  // }

  &:last-child {
    margin-bottom: 0;
  }

  & > span {
    width: 100%;
  }

  a {
    display: flex;
      align-items: center;
    padding: 15px 20px;
    font-size: 1.625rem;
    line-height: 1.3;
    width: 100%;

    @media ($bp-small-min) {
      padding: 20px 30px;
    }
  }

  &__container { // .ma__decorative-link 
    display: inline-block;
    vertical-align: middle;
    padding-right: .8em;
    width: 100%;
  }

  // removed after version 5.5.0
  &__info {
    @include ma-visually-hidden;
  }

  &__text {
    @include ma-link-underline;
    display: inline;

    svg {
      display: inline-block;
      height: .6em;
      margin-right: -.8em;
      width: .6em;
    }
  }
}
